$datepicker__background-color: #f7fafc !default;
$datepicker__border-color: #e2e8f0 !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #e2e8f0 !default;
$datepicker__selected-color: #15cbe4 !default;
$datepicker__text-color: #1a202c !default;
$datepicker__header-color: #1a202c !default;
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
) !default;

$datepicker__border-radius: 0.25rem !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: "Open Sans", sans-serif !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.5rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;

@import "react-datepicker/src/stylesheets/datepicker.scss";

/* Hack */
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 95px !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__close-icon {
  padding: 0px 12px 0px 0px;
}

.react-datepicker__close-icon::after {
  background-color: #bcdddd;
}
